.nav-item {
    /* background-color: black; */
    margin: 3px;

}





.homepage-cont {
    
    padding: 30px;
    background-color: #000;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
    /* border-radius: 10px; */

}

.desc {
   
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(hwb(0 49% 51%), rgb(239, 94, 255));
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.desg {
    color: rgb(159, 246, 197);
    margin-top: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: large;
    font-weight: 600;
}


.name {

    font-family: 'Cabin', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: skyblue;
}

.img-loc {
    width: 30px;

}

.projects {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 100px;
    position: relative;
    cursor: pointer;
    height: 100px;

    border-radius: 100px;
    border: none;
    background: rgb(255, 226, 226);
    color: #e5e5e5;
    font-weight: 600;
    box-shadow: inset 20px 20px 39px #080a10,
        inset -20px -20px 39px #1b263e;
    font-size: 12px;
}

.projects::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(35deg, rgb(47, 190, 238), rgb(218, 57, 143), rgb(139, 255, 23));
    filter: blur(10px);
}

.projects:hover::after {
    animation: rotcirclegr 1s linear infinite;
}

@keyframes rotcirclegr {
    to {
        transform: rotate(360deg);
    }
}



.button-soc {
    background-color: #fff;
    border: none;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
}

.button-soc a {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 500;
    transition: .5s;
    text-decoration: none;
    color: #0077b5;
}

.button-soc svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
}

.button-soc:hover a{
    left: 0.6em;
    color: #fff
}

.button-soc:hover svg,.button-soc-ins:hover svg{
    opacity: 1;
}

/* .button-soc-ins a {
    color: #bc2a8d;
} */



.button-soc:hover {
    background-color: #0077b5;
}

.btn-a:hover a {
    left: 0.6em;
    color: #fff
}



.buttons-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.buttons-group button{
    margin: 2px;
}



.button-soc-ins:hover{
    background-color: #bc2a8d;
    color: aliceblue;
}

.button-soc-ins a{
    color: #bc2a8d;
}

.mail-me {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 400;
}

.mail-me span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.mail-me span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.mail-me:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.mail-me:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.mail-me:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.get-in-touch {
    width: 100%;
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
}

.image-me-class{
   
}

.image-me{
    height: 350px;
    width:100%;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px; */
}

.skills{
    width: 100%;
    color: #ffffff;
}


.btn-skills {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 48px;
    width: 160px;
    font-weight: bold;
    height: 55px;
    -webkit-box-reflect: bottom 1px linear-gradient(transparent, #0004);
   }
   
   .btn-skills span {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    text-align: center;
    background: #2E2E2E;
    color: rgba(255, 255, 255, 0.781);
    transition: 0.5s;
    z-index: 1;
   }
   
   .btn-skills:hover span {
    color: rgba(255,255,255,1);
   }
   
   .btn-skills::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(45deg,#91155d,#525296,#0f0,#ff0,#fb0094,#00f,#0f0,#ff0);
    animation: animate123 20% linear infinte;
   }
   
   .btn-skills::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    background: linear-gradient(45deg,#91155d,#525296,#0f0,#ff0,#fb0094,#00f,#0f0,#ff0);
    animation: animate123 20% linear infinte;
   }
   
   .btn-skills:hover::before,
   .btn-skills:hover::after {
    opacity: 1;
   }
   
   @keyframes animate123 {
    0% {
     background-position: 0 0;
    }
   
    50% {
     background-position: 300% 0;
    }
   
    100% {
     background-position: 0 0;
    }
   }
   
   .btn-skills span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,0.1);
   }

   .title-skills{
    width:auto;
    display: flex;
    justify-content: center;
    margin-top: 5vh ;
   }

   .uiverse {
    position: relative;
    /* background: #ffffff; */
    margin-top:40px ;
    margin-bottom: 30px;
    color: #000;
   
    margin-top: 40px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .uiverse:hover,
  .uiverse:hover .tooltip,
  .uiverse:hover .tooltip::before {
    /* background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255)); */
    color: #000000;
  }

  .uiverse img{
    width: 75px;
    /* background-color: #00f; */
    
  }

  .skill-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
  }
  


  @media (max-width: 600px) {
   .buttons-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
   }

   .buttons-group button{
     margin-bottom: 30px;
   }
   .image-me{
    width: 100%;

    
   }
  }